
HomeWork/Lesson7/ZZandYamataNoOrochi/Library/
HomeWork/Lesson7/ZZandYamataNoOrochi/Temp/
*.csproj
*.sln
HomeWork/Lesson7/ZZandYamataNoOrochi/Packages/manifest.json
HomeWork/Lesson7/ZZandYamataNoOrochi/ProjectSettings/
HomeWork/Lesson7/ZZandYamataNoOrochi/obj/
